.h_caption{
	text-align: center;
	color: dodgerblue;
}

.a_blogs{
            	text-decoration: none;
            	font-size: 20px;
           	color: dodgerblue;
}

.ul_none{
            	list-style: none;
}

.ul_circle{
            	list-style-type:circle;
}

.li_blogs {
            	font-size: 20px;
            	color: dodgerblue;
}